body {
  line-height: 1.6;
}

main {
  max-width: 38em;
  padding: 2em 1em 4em;
}

h1 {
  font-size: 1.75rem;
  font-weight: 400;
  letter-spacing: -0.02em;
}

h3 {
  font-weight: 500;
  margin-top: 2em;
}

a {
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  transition: opacity 0.15s ease;
}

a:hover {
  opacity: 0.7;
}

ul,
ol {
  margin-left: 0;
  padding-left: 1.2em;
  margin-bottom: 1.5em;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  margin-bottom: 0.5em;
}

section {
  margin-bottom: 2.5em;
}

.author {
  color: gray;
  font-size: 0.85em;
}

@media (max-width: 768px) {
  .nav a {
    display: block;
    font-size: 1.5rem;
    padding: 0.4em 0;
  }

  .author {
    display: block;
  }

  footer a {
    display: block;
    padding: 1em;
    border: 3px solid currentColor;
    text-align: center;
    text-decoration: none;
    font-size: 1.25rem;
  }

  footer a:hover {
    text-decoration: none;
  }
}

.date {
  color: gray;
  font-size: 0.85em;
}

footer {
  max-width: 38em;
  padding: 0 1em 2em;
  border-top: none;
}
