body {
  line-height: 1.6;
}

main {
  max-width: 38em;
  padding: 2em 1em 4em;
}

h1 {
  font-weight: 400;
  letter-spacing: -0.02em;
}

h3 {
  font-weight: 500;
  margin-top: 2em;
}

a {
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  transition: opacity 0.15s ease;
}

a:hover {
  opacity: 0.7;
}

ul,
ol {
  margin-left: 0;
  padding-left: 1.2em;
  margin-bottom: 1.5em;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  margin-bottom: 0.5em;
}

section {
  margin-bottom: 2.5em;
}

.author {
  color: gray;
  font-size: 0.85em;
}

.date {
  color: gray;
  font-size: 0.85em;
}
