---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tony D'Addeo">
  <h1>Tony D'Addeo</h1>
  <ul>
    <li><a href="/reading">Reading</a></li>
    <li><a href="/coffee">Coffee</a></li>
    <li><a href="/wine">Wine</a></li>
  </ul>
</Layout>
