---
interface Props {
  title: string;
  author?: string;
  href?: string;
}

const { title, href, author } = Astro.props;
---

<li>
  {href ? <a href={href}>{title}</a> : title}
  {author && <span class="author">by {author}</span>}
</li>
